@charset "utf-8";
/* CSS Document */

.index-art {
  padding: 2%;
}
.index-art section {
  position: relative;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.index-art section:last-child {margin-bottom: 0;}

.index-art section .tips-photo {
  position: absolute;
  top: 14%;
  margin-left: -12%;
  left: 50%;
  width: 26%;
}
@media screen and (min-width: 640px) {
  .index-art section .tips-photo {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }
}
.index-art section p {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}



