/* CSS Document */

/* 登陆表格 */
.in_back {
	width: 100%;
	height: 100%;
	background:url(../images/darkbg.png) repeat;
	position:fixed;
	left: 0px;
	top: 0px;
	z-index:998;
}
.sign_in {
	position: fixed;
	left: 50%;
	top: 24%;
	margin-left:-240px;
	_margin-left:34%;
	z-index: 999;
	background: #ffffff;
	width: 480px;
}
.sign_in .in_title {
	border-bottom: 1px solid #cccccc;
	padding: 0 20px;
	width: 440px;
	height: 60px;
	line-height: 60px;
	position:relative;
}
.sign_in .in_title label {
	font-size: 24px;
	width: 60px;
	float: left;
}
.sign_in .in_title a {
	color: #3a81d1;
	float: right;
}
.sign_in .in_title i{
	width:30px;
	height:30px;
	display:block;
	border-radius:50%;
	background:#ffffff;
	text-align:center;
	position:absolute;
	left:460px;
	top:-16px;}
.sign_in .in_title i a{float:none;}
.sign_in .in_title i img{width:20px;
height:20px;margin-top:6px;}
.sign_in form {
	width: 480px;
}
.sign_in form input {
	width: 240px;
	border: 1px solid #999999;
	height: 30px;
	line-height: 24px;
	font-size: 16px;
	margin-left:100px;
	margin-top: 30px;
	padding-left: 10px;
}
.sign_in form .forget {
	width: 480px;
	margin-top: 20px;
	height: 26px;
	line-height: 26px;
}
.sign_in form .forget .dan {
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 7px;
}
.sign_in form .forget label {
	float: left;
	margin-left: 6px;
}
.sign_in form .forget a {
	color: #3a81d1;
	float: left;
	margin-left:90px;
}
.sign_in form .in_bottom {
	margin-top: 20px;
	width:250px;
	height:32px;
	background: #f04848;
	color: #ffffff;
	border: 1px solid #f04848;
}
.sign_in form .in_bottom:hover {
	cursor: pointer;
}
.sign_in .other_in {
	width: 252px;
	padding: 30px 0px 60px;
overflow:hidden;
}
.sign_in .other_in .label_contact {height:inherit;width:60px;display:block;color: #999999;
float:left;}
.sign_in .other_in .QQ {display:block;width:192px;
float:left;
overflow:hidden;
}
.sign_in .other_in .QQ a{margin-left:10px;float:left;color:#3a81d1;
word-wrap:break-word;
white-space:nowrap;}
/* 登陆表格结束 */
