@charset "utf-8";
/* CSS Document */

/*引导页*/
.guide-page {
  background: url(../images/guide_page.jpg) no-repeat center;
  background-size: cover;
}
.guide-page .img-group {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.guide-page .img-group img {
  position: absolute;
}
.guide-page .img-group .img1 {
  top: 12%;
  left: 50%;
  margin-left: -8%;
  width: 16%;
  -webkit-opacity: 1;
          opacity: 1;
  -webkit-animation: imgMove1 1s ease-in-out;
          animation: imgMove1 1s ease-in-out;
}
@keyframes imgMove1 {
  from {left: -16%;opacity: 0;}
  to {left: 50%;opacity: 1;}
}
.guide-page .img-group .img2 {
  top: 35%;
  right: 50%;
  margin-right: -20%;
  width: 40%;
  -webkit-opacity: 1;
          opacity: 1;
-webkit-animation: imgMove2 1s ease-in-out;
        animation: imgMove2 1s ease-in-out;
}
@keyframes imgMove2 {
  from {right: -20%;opacity: 0;}
  to {right: 50%;opacity: 1;}
}
.guide-page .img-group .img3 {
  top: 43%;
  right: 50%;
  margin-right: -25%;
  width: 50%;
  -webkit-opacity: 1;
          opacity: 1;
-webkit-animation: imgMove3 1s ease-in-out;
        animation: imgMove3 1s ease-in-out;
}
@keyframes imgMove3 {
  from {right: -25%;opacity: 0;}
  to {right: 50%;opacity: 1;}
}
@media screen and (min-width: 640px) {
  .guide-page {background-position: center 26%;}
  .guide-page .img-group .img2 {top: 55%;}
  .guide-page .img-group .img3 {top: 70%;}
}
@media screen and (min-width: 1200px) {
  .guide-page {background-position: center 16%;}
  .guide-page .img-group .img1 {width: 8%;margin-left: -4%;}
  .guide-page .img-group .img2 {width: 20%;margin-right: -10%;top: 55%;}
  .guide-page .img-group .img3 {width: 30%;margin-right: -15%;top: 70%;}
}
/*引导页 END*/

/*index*/
.index-art {
  padding: 2%;
}
.index-art section {
  position: relative;
  margin-bottom: 2%;
  width: 100%;
  text-align: center;
}
.index-art section:last-child {margin-bottom: 0;}

.index-art section .tips-photo {
  position: absolute;
  top: 14%;
  margin-left: -12%;
  left: 50%;
  width: 26%;
}
@media screen and (min-width: 640px) {
  .index-art section .tips-photo {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }
}
.index-art section p {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
/*index END*/


/*选择城市*/
.select-city section p {
  padding: 2%;
  font-size: 1.2em;
  color: #999;
}
.select-city section div {
  padding: 3% 5%;
  font-size: 1.3em;
  line-height: 1.5;
  background: #fff;
}
.select-city .opened-city div {
  border-top: 1px solid #cccccc;
}
.select-city .opened-city div:first-of-type {
  border: none;
}
.select-city .opened-city div.current i {
  float: right;
  display: inline-block;
  margin-top: 5px;
  width: 26px;
  height: 18px;
  background: url(../images/icon_current_city.png) no-repeat center;
  -webkit-background-size: 20px auto;
          background-size: 20px auto;
}
/*选择城市 END*/

/*搜索页*/
.search-list {margin-top: 2%;}
.search-list div {
  padding: 3% 2%;
  color: #999;
  border-bottom: 1px solid #e8e8e8;
}
.search-list ul {overflow: hidden;}
.search-list ul li {
  overflow: hidden;
  float: left;
  margin-left: 2%;
  margin-top: 15px;
  width: 31%;
  height: 32px;
  line-height: 32px;
  color: #999999;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.search-list ul li a {color: #999;}
/*搜索页 END*/

/*套餐主题*/
.theme-packages .package-introduction {
  padding: 2%;
  font-size: 1.1em;
  line-height: 1.5;
  color: #666;
  background: #fff;
  border-bottom: 1px solid #ececec;
}
.theme-packages section {
  margin: 2% auto;
  width: 94%;
}
/*套餐筛选*/
.theme-packages .filter-group {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #fff;
  border-radius: 35px;
}
.theme-packages .filter-group a {
  display: inline-block;
  width: 20%;
  color: #333;
}
.theme-packages .filter-group a.current {color: #ffa070;}

/*套餐介绍*/
.theme-packages .package {
  overflow: hidden;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.theme-packages .package img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*介绍*/
.theme-packages .package .introduction {
  float: left;
  margin: 2%;
  width: 66%;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.theme-packages .package .introduction p {
  margin: 2% auto;
  color: #a9a9a9;
}
.theme-packages .package .introduction .title {
  overflow: hidden;
  width: 100%;
  height: 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333333;
}
.theme-packages .package .introduction .title a {color: #333;}
.theme-packages .package .introduction .title span {
  font-size: 0.9em;
  font-weight: normal;
  color: #686868;
}
.theme-packages .package .introduction .itdt {
  overflow: hidden;
  width: 100%;
  height: 34px;
}
.theme-packages .package .introduction .follow {
  padding-left: 25px;
  background: url(../images/icon_follow.png) no-repeat left center;
  -webkit-background-size: 17px auto;
          background-size: 17px auto;
}
/*价格*/
.theme-packages .package .price {
  float: right;
  margin: 2%;
  width: 26%;
  text-align: right;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.theme-packages .package .price p {
  margin: 2% auto;
  color: #636363;
}
.theme-packages .package .price .p1 span {
  font-size: 1.3em;
  vertical-align: top;
}
.theme-packages .package .price .p2 {
  font-size: 1.3em;
  color: #ff9966;
}
/*套餐主题 END*/

/*套餐详情*/
.package-details .package-description {
  padding: 2%;
  background: #fff;
}

/*套餐名*/
.package-details .package-description .div1 {
  overflow: hidden;
  padding: 2% 0;
}
.package-details .package-description .div1 .left {
  float: left;
  width: 70%;
}
.package-details .package-description .div1 .left .p1 {
  font-size: 1.5em;
}
.package-details .package-description .div1 .left .p2 {
  margin-top: 5px;
  width: 60px;
  height: 3px;
  background: #dcdcdc;
}

.package-details .package-description .div1 .right {
  float: right;
  width: 30%;
  text-align: right;
}
.package-details .package-description .div1 .right .p1 {
  color: #ff9333;
}
.package-details .package-description .div1 .right .p1 span {
  font-size: 1.4em;
}
.package-details .package-description .div1 .right .p2 {
  color: #666666;
}

.package-details .package-description .div2 .p1 {
  font-size: 1.4em;
}
.package-details .package-description .div2 .p2 {
  padding: 4%;
  font-size: 1em;
  line-height: 1.7;
  color: #666666;
}
.package-details .package-description .div2 .p2 strong {
  font-weight: 700;
  color: #333;
}

.package-details .package-description .div3 .p1 {
  font-size: 1.4em;
}
.package-details .package-description .div3 ul {
  overflow: hidden;
  padding: 4%;
}
.package-details .package-description .div3 ul li {
  float: left;
  padding-top: 44px;
  width: 33.33%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 40px auto;
          background-size: 40px auto;
}
.package-details .package-description .div3 ul li.li1 {
  background-image: url(../images/icon_ingredients.png);
}
.package-details .package-description .div3 ul li.li2 {
  background-image: url(../images/icon_cook_door.png);
}
.package-details .package-description .div3 ul li.li3 {
  background-image: url(../images/icon_tableware.png);
}

/*菜品介绍*/
.food-presentation {padding: 2%;}
.food-presentation ul {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.food-presentation li {
  /*float: left;
  width: 50%;*/
  padding-bottom: 4px;
  font-size: 1.4em;
  line-height: 1.7;
  text-align: center;
}
.food-presentation li.current {
  border-bottom: 4px solid #ff9966;
}

.food-presentation dt,
.food-presentation dd {
  margin: 2% auto;
  text-align: center;
}

.food-presentation dt .main-course {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -30px;
  width: 60px;
  height: 35px;
}

.food-presentation dt .dishes {margin: 2% auto;}
.food-presentation dt .dishes p {
  line-height: 1.7;
  color: #999;
}
.food-presentation dt .dishes p.p1 {
  font-size: 1.3em;
  color: #333;
}
.food-presentation dt .dishes p.p3 {
  overflow: hidden;
  margin-left:35%;
  width:50%;
}
.food-presentation dt .dishes p.p3 span {
  overflow: hidden;
  float:left;
  margin-left:5px;
  width: 85%;
  height: 22px;
  text-align: left;
}
.food-presentation dt .dishes p.p3 i {
  float: left;
  display: inline-block;
  width: 15px;
  height: 22px;
  background: url(../images/icon_loved.png) no-repeat 43% center;
  -webkit-background-size: 15px auto;
          background-size: 15px auto;
  vertical-align: center;
}
.food-presentation dt .explanation {
  padding: 2% 0;
  text-align: left;
  border-top: 1px solid #ccc;
}

.food-presentation dd div {margin: 2% auto;}
.food-presentation dd div p {
  line-height: 1.7;
  color: #999;
}
.food-presentation dd div p.p1 {
  font-size: 1.3em;
  color: #333;
}

.food-presentation .food-more {overflow: hidden;}
.food-presentation .food-more .div1,
.food-presentation .food-more .div2{
  float: left;
  width: 50%;
  text-align: center;
}
.food-presentation .food-more .div1 div,
.food-presentation .food-more .div2 div {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}
.food-presentation .food-more p {
  font-size: 1em;
  color: #999;
}
.food-presentation .food-more .p1 {
  font-size: 1.2em;
  color: #fff;
}

/*套餐清单*/
.inventory {padding: 2%;}
.inventory .div1,
.inventory .div2 {
  padding: 2% 0;
}
.inventory .div1 div,
.inventory .div2 div {
  overflow: hidden;
  padding: 2% 0;
}
.inventory .div1 div .p1,
.inventory .div2 div .p1 {
  float: left;
  width: 12%;
}
.inventory .div1 div .p2,
.inventory .div2 div .p2 {
  float: left;
  margin-left: 12px;
  width: 84%;
  color: #999999;
}
.inventory .div2 .acd {
  margin-left: 16%;
}
@media screen and (min-width: 640px) {
  .inventory .div2 .acd {margin-left: 13%;}
}

/*评论*/
.review {
  padding: 2%;
  border-top: 1px solid #ccc;
}
.review ul li {padding: 2% 0;}
.review .title {
  font-size: 1.3em;
  color: #000;
}
.review .div1 {
  overflow: hidden;
  padding: 2% 0;
}
.review .head-portrait {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review .div1 div {
  float: left;
  margin-left: 10px;
  width: 70%;
  height: 60px;
}
.review .div1 .p1 {
  overflow: hidden;
  font-size: 1.3em;
  color: #000;
}
.review .div1 .p1 span {float: left;}
/*评论星级*/

/*0星*/
.review .div1 .p1 i.rating-0 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_0.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}
/*1星*/
.review .div1 .p1 i.rating-1 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_1.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}
/*2星*/
.review .div1 .p1 i.rating-2 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_2.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}
/*3星*/
.review .div1 .p1 i.rating-3 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_3.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}
/*4星*/
.review .div1 .p1 i.rating-4 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_4.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}
/*5星*/
.review .div1 .p1 i.rating-5 {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 95px;
  height: 14px;
  background: url(../images/icon_rating_5.png) no-repeat;
  -webkit-background-size: 70px auto;
          background-size: 70px auto;
}

.review .div1 .p2 {
  overflow: hidden;
  width: 100%;
  height: 40px;
  line-height: 1.5;
  color: #666666;
}
.review .div2 {
  color: #999;
  text-align: right;
}
/*套餐详情 END*/

/*常用地址*/
.common-address {
  padding: 2%;
}
.common-address section {
  padding: 2%;
  background: #fff;
  border-radius: 4px;
}
.common-address .sct1 p {
  overflow: hidden;
  padding: 5px 0;
  width: 100%;
  font-size: 1.2em;
  line-height: 20px;
}
.common-address .sct1 .p1 span {
  margin-left: 10px;
}
.common-address .sct1 .p2 {
  margin-left: 10px;
  width: 96%;
  color: #999;
}
/*常用地址 END*/

/*编辑地址*/
.edit-address {padding: 2%;}
.edit-address div {
  display: block;
  float: left;
  padding: 5px 20px;
  width: 100%;
  min-height: 150px;
  text-align: left;
  background: #fff url(../images/icon_locate.png) no-repeat left 5px;
  -webkit-background-size: 17px auto;
          background-size: 17px auto;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*编辑地址 END*/

/*美食*/
.menu-nav {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
}
.menu-nav li {
  float: left;
  width: 50%;
  height: 25%;
  text-align: center; 
}
.menu-nav li a {
  display: block;
  padding-top: 16px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-nav li img {
  display: block;
  margin: 0 auto;
}
.menu-nav li div {
  margin-top: 10px;
  line-height: 30px;
}

@media screen and (min-height: 568px){
  .menu-nav li a {padding-top: 30px;}
}
@media screen and (min-height: 736px){
  .menu-nav li a {padding-top: 46px;}
}

.menu-nav li.current a {
  background-color: rgba(0,0,0,.5);
  border-bottom: 4px solid #ff9933;
}
/*美食 END*/

/*购物车*/
.shopp-car {padding: 2%;}
.shopp-car section {
  position: relative;
  padding: 2% 0;
  margin: 3% auto;
  background: #fff;
  border-radius: 3px;
}
.shopp-car section.selected {
  -webkit-transform: translate(-19%,0);
  -webkit-transition:all 0.3s linear;
}

.btn-delete-orderlist {
  position: absolute;
  right: -43px;
  top: 0;
  z-index: 3;
  display: none;
  width: 46px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background: #ff9933;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media screen and (min-width: 360px) {
  .btn-delete-orderlist {height: 110px;line-height: 110px;}
}
@media screen and (min-width: 375px) {
  .btn-delete-orderlist {height: 114px;line-height: 114px;}
}
@media screen and (min-width: 414px) {
  .btn-delete-orderlist {height: 114px;line-height: 114px;}
}
@media screen and (min-width: 768px) {
  .btn-delete-orderlist {height: 159px;line-height: 159px;}
}
@media screen and (min-width: 1024px) {
  .btn-delete-orderlist {height: 137px;line-height: 137px;}
}
@media screen and (min-width: 1200px) {
  .btn-delete-orderlist {height: 171px;line-height: 171px;}
}

.shopp-car .div1,
.shopp-car .div2{
  overflow: hidden;
}

.shopp-car .div1 input {
  float: left;
  margin-top: 23px;
  width: 14px;
  height: 14px;
}
.shopp-car .div1 img {
  float: left;
  width: 80px;
  height: 60px;
}
.shopp-car .div1 .detail {
  float: right;
  width: 66%;
  height: 60px;
}
@media screen and (min-width: 640px) {
  .shopp-car .div1 .detail {width: 85%;}
}

.shopp-car .div1 .detail .title .span1 {
  font-size: 1.3em;
  font-weight: 700;
}
.shopp-car .div1 .detail .title .span2,
.shopp-car .div1 .detail .title .span3 {
  padding: 2px 5px;
  margin-left: 5px;
  color: #fff;
  text-align: center;
  background: #ff9933;
  border-radius: 4px;
}

.shopp-car .div1 .detail .number {
  overflow: hidden;
  margin-top: 8px;
}
.shopp-car .div1 .detail .number .p1 {
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 1em;
  color: #ff9933;
}
.shopp-car .div1 .detail .number .p2 {
  float: left;
  margin-left: 8px;
  height: 34px;
  line-height: 34px;
}
.shopp-car .div1 .detail .number .p2 span {float: left;}
.shopp-car .div1 .detail .number .p2 a,
.shopp-car .div1 .detail .number .p2 em {
  overflow: hidden;
  display: inline-block;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  color: #999;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 50%;
}
.shopp-car .div1 .detail .number .p2 em {color: #000;}

.shopp-car .div2 {
  overflow: hidden;
  margin-top: 5px;
}
.shopp-car .div2 .p1 {
  float: left;
  margin-left: 14px;
  width: 86px;
  line-height: 2.5;
}
.shopp-car .div2 .p2 {
  float: left;
  width: 66%;
  line-height: 2.5;
  text-align: right;
  border-top: 1px solid #ccc;
}
@media screen and (min-width: 640px) {
  .shopp-car .div2 .p2 {width: 88%;}
}

.shopp-car .div3 {text-align: right;}
.shopp-car .div3 input {
  width: 80px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  background: #ff9933;
  border: none;
  border-radius: 30px;
}
/*购物车 END*/


/*提交订单*/
.submit-order {
  padding: 2%;
  background: #fff;
}
.submit-order .go-package-details a {
  overflow: hidden;
  display: block;
  padding: 5px 0;
  width: 100%;
  height: 30px;
  font-size: 1.3em;
  color: #000;
  line-height: 30px;
  border-bottom: 1px solid #eaeaea;
}
.submit-order .go-package-details a .span1 {float: left;}
.submit-order .go-package-details a .span2 {float: right;color: #cccccc;}

.submit-order .sct1 .div1,
.submit-order .sct1 .div2{
  overflow: hidden;
}

.submit-order .sct1 .div1 input {
  float: left;
  margin-top: 23px;
  width: 14px;
  height: 14px;
}
.submit-order .sct1 .div1 img {
  float: left;
  width: 90px;
  height: 60px;
}
.submit-order .sct1 .div1 .detail {
  float: right;
  width: 66%;
  height: 60px;
}
@media screen and (min-width: 640px) {
  .submit-order .sct1 .div1 .detail {width: 80%;}
}

.submit-order .sct1 {padding-top: 2%;}
.submit-order .sct1 .div1 .detail .title .span1 {
  font-size: 1.3em;
  font-weight: 700;
}
.submit-order .sct1 .div1 .detail .title .span2,
.submit-order .sct1 .div1 .detail .title .span3 {
  padding: 2px 5px;
  margin-left: 5px;
  color: #fff;
  text-align: center;
  background: #ff9933;
  border-radius: 4px;
}

.submit-order .sct1 .div1 .detail .number {
  overflow: hidden;
  margin-top: 8px;
}
.submit-order .sct1 .div1 .detail .number .p1 {
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 1em;
  color: #ff9933;
}
.submit-order .sct1 .div1 .detail .number .p2 {
  float: left;
  margin-left: 8px;
  height: 34px;
  line-height: 34px;
}
.submit-order .sct1 .div1 .detail .number .p2 span {float: left;}
.submit-order .sct1 .div1 .detail .number .p2 a,
.submit-order .sct1 .div1 .detail .number .p2 em {
  overflow: hidden;
  display: inline-block;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  color: #999;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 50%;
}
.submit-order .sct1 .div1 .detail .number .p2 em {color: #000;}

.submit-order .sct1 .div2 {
  overflow: hidden;
  margin-top: 5px;
}
.submit-order .sct1 .div2 .p1 {
  float: left;
  margin-left: 14px;
  width: 86px;
  line-height: 2.5;
}
.submit-order .sct1 .div2 .p2 {
  float: left;
  width: 66%;
  line-height: 2.5;
  text-align: right;
  border-top: 1px solid #ccc;
}
@media screen and (min-width: 640px) {
  .submit-order .sct1 .div2 .p2 {width: 80%;}
}

/*用餐信息*/
.dining-info {
  padding: 2%;
  margin: 4% auto;
  background: #fff;
}

.dining-info .div1 {
  overflow: hidden;
  padding: 2% 0;
  border-bottom: 2px solid #ccc;
}
.dining-info .div1 p {float: left;}
.dining-info .div1 .edit {
  float: right;
  padding: 2px 10px;
  padding-left: 14px;
  height: 22px;
  font-size: 0.8em;
  color: #666666;
  line-height: 22px;
  text-indent: 1em;
  background: url(../images/icon_edit.png) no-repeat 12px center;
  -webkit-background-size: 10px auto;
          background-size: 10px auto;
  border: 1px solid #eaeaea;
  border-radius: 22px;
}

.dining-info div {overflow: hidden;}
.dining-info div label {
  float: left;
  width: 20%;
  height: 20px;
  line-height: 20px;
}
.dining-info div span {
  float: right;
  width: 80%;
  height: 20px;
  color: #999999;
  line-height: 20px;
  text-align: right;
  border: none;
}
.dining-info div.div2 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.dining-info div.div3 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.dining-info div.div4 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.dining-info div.div5 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.dining-info div.div6 {padding: 4% 0;}
/*提交订单 END*/

/*订单详情*/
.taste-num {
  background: #fff;
  border-radius: 5px;
}
.taste-num .taste-num-box {
  padding: 2%;
}
.taste-num .taste {line-height: 2;}
.taste-num .taste-group {
  overflow: hidden;
  padding: 5px 0;
  border-bottom: 1px solid #eaeaea;
}
.taste-num .taste-group li {
  display: inline-block;
  margin-right: 10px;
}
.taste-num .taste-group li a {
  display: block;
  width: 45px;
  height: 22px;
  font-size: 0.8em;
  line-height: 22px;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.taste-num .taste-group li a.current {
  color: #fff;
  background: #ff9933;
  border: none;
}

.taste-num .num {
  overflow: hidden;
  padding: 5px 0;
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #eaeaea;
}
.taste-num .num span {float: left;}
.taste-num .num .num-group {float: right;margin-top: 5px;}
.taste-num .num .num-group a,
.taste-num .num .num-group em {
  overflow: hidden;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #999;
  line-height: 24px;
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}
.taste-num .num .num-group em {color: #000;}

.taste-num .chef-recommended {
  padding-left: 8%;
  height: 30px;
  line-height: 30px;
  background: url(../images/icon_hot_chef.png) no-repeat 2% center;
  -webkit-background-size: 12px auto;
  background-size: 12px auto;
}

.taste-num .service-way {
  overflow: hidden;
  padding: 2%;
  padding-bottom: 4%;
}
.taste-num .service-way p {
  display: inline-block;
  margin-right: 20px;
}

/*给力砍友*/
.cut-friends {
  background: #fff;
  border-radius: 5px;
}
.cut-friends .div1 {
  padding: 2%;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
          box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.cut-friends .div1 p {
  line-height: 1.5;
  text-align: center;
}
.cut-friends .div1 .p1 {
  font-size: 1.2em;
  color: #8b4805;
}

.cut-friends .cut {margin-top: 10px;}
.cut-friends .cut li {
  overflow: hidden;
  padding: 2%;
  height: 44px;
}
.cut-friends .cut li .head-photo {
  float: left;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.cut-friends .cut .friend {
  float: left;
  margin-left: 4%;
  width: 80%;
  height: 44px;
  border-bottom: 1px solid #bac2c5;
}
.cut-friends .cut .friend .div1-1 {
  float: left;
  height: 44px;
}
.cut-friends .cut .friend .div1-1 p {
  height: 22px;
  line-height: 22px;
}
.cut-friends .cut .friend .div2-1 {
  float: right;
  height: 44px;
  line-height: 44px;
}
.cut-friends .cut .tips {
  padding: 2%;
  color: #ccc;
  text-align: center;
}
.cut-friends .cut .tips .p2 a {
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
  color: #ccc;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*订单详情 END*/

/*我的订单*/
/*套餐筛选*/
.mine-order .filter {padding: 2%;}
.mine-order .filter-group {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #fff;
  border-radius: 35px;
}
.mine-order .filter-group a {
  display: inline-block;
  width: 20%;
  color: #333;
}
.mine-order .filter-group a.current {color: #ffa070;}

.mine-order .sct1 {
  padding: 2%;
  margin-bottom: 0;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mine-order .sct1 .div1,
.mine-order .sct1 .div2{
  overflow: hidden;
}

.mine-order .sct1 .div1 input {
  float: left;
  margin-top: 23px;
  width: 14px;
  height: 14px;
}
.mine-order .sct1 .div1 img {
  float: left;
  width: 90px;
  height: 60px;
}
.mine-order .sct1 .div1 .detail {
  float: right;
  width: 67%;
  height: 60px;
}
@media screen and (min-width: 640px) {
  .mine-order .sct1 .div1 .detail {width: 80%;}
}

.mine-order .sct1 .div1 .detail .title .span1 {
  font-size: 1.3em;
  font-weight: 700;
}
.mine-order .sct1 .div1 .detail .title .span2,
.mine-order .sct1 .div1 .detail .title .span3 {
  padding: 2px 5px;
  margin-left: 5px;
  color: #fff;
  text-align: center;
  background: #ff9933;
  border-radius: 4px;
}

.mine-order .sct1 .div1 .detail .number {
  overflow: hidden;
  margin-top: 8px;
}
.mine-order .sct1 .div1 .detail .number .p1 {
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 1em;
  color: #ff9933;
}
.mine-order .sct1 .div1 .detail .number .p2 {
  float: left;
  margin-left: 8px;
  height: 34px;
  line-height: 34px;
}
.mine-order .sct1 .div1 .detail .number .p2 span {float: left;}
.mine-order .sct1 .div1 .detail .number .p2 a,
.mine-order .sct1 .div1 .detail .number .p2 em {
  overflow: hidden;
  display: inline-block;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  color: #999;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 50%;
}
.mine-order .sct1 .div1 .detail .number .p2 em {color: #000;}

.mine-order .sct1 .div2 {
  overflow: hidden;
  margin-top: 5px;
}
.mine-order .sct1 .div2 .p1 {
  float: left;
  margin-left: 14px;
  width: 86px;
  line-height: 2.5;
}
.mine-order .sct1 .div2 .p2 {
  float: left;
  width: 66%;
  line-height: 2.5;
  text-align: right;
  border-top: 1px solid #ccc;
}
@media screen and (min-width: 640px) {
  .mine-order .sct1 .div2 .p2 {width: 80%;}
}

.mine-order .order-btn-group {
  padding: 2% 0;
  margin-top: -2%;
  text-align: right;
  background: #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.mine-order .order-btn-group a {
  display: inline-block;
  margin-right: 7px;
  width: 60px;
  height: 26px;
  color: #333333;
  line-height: 26px;
  border: 1px solid #999999;
  border-radius: 26px;
}
.mine-order .order-btn-group a.current {
  color: #ff9933;
  border: 1px solid #ff9933;
}

.tab-view .title-1 {
  overflow: hidden;
  margin: 2% auto;
  width: 96%;
  height: 35px;
  line-height: 35px;
  background: #fff;
  border-radius: 35px;
}
.tab-view .title-1 li {
  float: left;
  width: 33.33%;
}
.tab-view .title-1 li a {
  display: block;
  color: #000;
  text-align: center;
}
.tab-view .title-1 li.active a {color: #ff9966;}
.tab-content li {
  margin: 2%;
  width: 96%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
          box-shadow: 0 0 3px rgba(0,0,0,.2);
}

/*我的订单 END*/

/*确认支付*/
.pay-act .section {
  padding: 0 2%;
  width: 96%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ececec;
}
.pay-act .div1-1,
.pay-act .div2-1 {
  font-size: 1.2em;
  font-weight: 700;
}

.pay-act .div3-1 {overflow: hidden;}
.pay-act .div3-1 p {float: left;color: #666666;}
.pay-act .div3-1 p span {color: #ff9933;}
#div1{
  position: relative;
  float: right;
  width: 60px;
  height: 30px;
  border-radius: 30px;
}
#div2{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.open1{
  margin-top: 10px;
  background: rgba(0,184,0,0.8);
}
.open2{
  top: 2px;
  right: 1px;
}
.close1{
  margin-top: 10px;
  background: rgba(255,255,255,0.4);
  border:1px solid rgba(0,0,0,0.15);
  border-left: transparent;
}
.close2{
  left: 0px;
  top: 0px;
  border:1px solid rgba(0,0,0,0.1);
}

.pay-act .div4-1 {color: #666;}
.pay-act .div4-1 span {color: #999;}

.pay-act .div5-1 {
  overflow: hidden;
  height: 60px;
}
.pay-act .div5-1 img {
  float: left;
  margin-top: 14px;
  margin-right: 28%;
}
.pay-act .div5-1 p {
  float: left;
  font-size: 1.2em;
  color: #b5b5b5;
  line-height: 60px;
}
.pay-act .div5-1 input {
  float: right;
  margin-top: 24px;
  width: 16px;
  height: 16px;
}

.pay-act .div7-1 {
  overflow: hidden;
  padding: 5% 2%;
  border-top: 2px solid #f2f2f2;
}
.pay-act .div7-1 .order-price {float: left;}
.pay-act .div7-1 .order-price p{line-height: 22px;}
.pay-act .div7-1 .btn-order-now {
  float: right;
  display: block;
  margin-top: 7px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #ff9933;
  border-radius: 30px;
}

/*确认支付 END*/

/*用餐信息编辑*/
.dining-info-edit section {
  padding: 2%;
  background: #fff;
}
.dining-info-edit section div {
  overflow: hidden;
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.dining-info-edit section div label {
  float: left;
  width: 20%;
  height: 20px;
  line-height: 20px;
}
.dining-info-edit section div input {
  float: right;
  width: 80%;
  height: 20px;
  color: #999999;
  line-height: 20px;
  text-align: right;
  border: none;
}
.dining-info-edit section div:last-child {border-bottom: none;}

.dining-info-edit p {
  padding: 2%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.dining-info-edit textarea {
  padding: 2%;
  margin: 2%;
  width: 92%;
  min-height: 100px;
  border: none;
  border-radius: 5px;
}
/*用餐信息编辑 END*/

/*登录注册*/
.art-bg {
  position: relative;
  width: 100%;
  height: 66.67%;
  background: url(../images/login_bg.jpg) no-repeat left -50px;
  background-size: cover;
  background-attachment: fixed;
}
.sec-login-title {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
}
.store-name {
  font-size: 2.5em;
  color: #fff;
  text-align: center;
}
.subtitle {margin-top: 20px;}
.subtitle p {
  margin-top: 5px;
  font-size: ;
  color: #fff;
  text-align: center;
}
.visitor {
  margin-top: 15%;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .visitor {margin-top: 30%;}
}
@media screen and (min-width: 1024px) {
  .visitor {margin-top: 15%;}
}
.visitor a {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  font-size: 1.3em;
  line-height: 30px;
  border: 1px solid #ff9933;
  border-radius: 30px;
}

.login-register {
  position: absolute;
  z-index: 2;
  margin-top: -40px;
  width: 100%;
}
.title-group-login-register {
  overflow: hidden;
  width: 100%;
  height: 39px;
  line-height: 40px;
  border-top: 1px solid #9f9f9f;
}
.title-group-login-register li {
  float: left;
  width: 50%;
}
.title-group-login-register li a {
  display: block;
  height: 40px;
  font-size: 1.3em;
  color: #999;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.title-group-login-register li.active a {
  color: #fff;
  border-top: 4px solid #ff9933;
}

.group-login-register {padding: 2%;}

/*登录*/
.group-login-register .login {width: 100%;}

.group-login-register .phone-num,
.group-login-register .password,
.group-login-register .security-code {
  padding: 5px 0;
  height: 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.group-login-register .phone-num input,
.group-login-register .password input,
.group-login-register .security-code input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: none;
}


.group-login-register .login-way {
  overflow: hidden;
  padding: 2% 0;
}
.group-login-register .login-way .checkbox {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 12px;
}
.group-login-register .login-way .group-login-way {
  float: left;
  margin-left: 2%;
  height: 40px;
}
.group-login-register .login-way .group-login-way .p2 a {color: #333;}
.group-login-register .login-way .btn-login {
  display: block;
  float: right;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  font-size: 1.3em;
  color: #fff;
  line-height: 29px;
  background: #ff9933;
  border: none;
  border-radius: 30px;
}

/*注册*/
.group-login-register li {overflow: hidden;display: none;}
/*验证码*/
.group-login-register .security-code {
  position: relative;
}
.group-login-register .security-code .btn-get-code {
  position: absolute;
  right: 0;
  top: 6px;
  z-index: 3;
  display: block;
  width: 80px;
  height: 25px;
  font-size:0.8em;
  color:#999;
  line-height: 25px;
  border: 1px solid #ff9933;
  border-radius: 25px;
}

.register .btn-register {
  display: block;
  margin: 5px auto;
  margin-top: 20px;
  width: 125px;
  height: 30px;
  font-size: 1.3em;
  color: #fff;
  line-height: 29px;
  background: #ff9933;
  border: none;
  border-radius: 30px;
}

.register .sec1 {text-align: center;}
.register .sec2 {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#click-login {
  padding-bottom: 2px;
  font-size: 1.2em;
  color: #000;
  border-bottom: 1px solid #8f8f8f;
  vertical-align: bottom;
}

/*登录注册 END*/

/*优惠劵*/
.coupon .time {
  margin: 4% auto;
  width: 30%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ddd;
  border-radius: 30px;
}

.coupon .group-coupon {padding: 2%;}
.coupon .group-coupon li {
  overflow: hidden;
  margin: 2% auto;
  background: #fff;
  border: 1px solid #959595;
}
.coupon .group-coupon .price,
.coupon .group-coupon .coupon-info {
  float: left;
  padding: 5%;
  width: 40%;
  text-align: left;
}
.coupon .group-coupon .price {text-align: right;}
.coupon-bg {
  text-align: center;
  background: #000;
}
/*优惠劵 END*/

/*个人中心*/
.mine-center .head-info {
  position: relative;
  padding: 2%;
  background: url(../images/mine_center_bg_1.png) no-repeat center top;
  background-size: cover;
}

.head-info .head-pho .div1 {
  overflow: hidden;
  padding: 2%;
}
.head-info .head-pho .div1 img {
  float: left;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head-info .head-pho .div1 div {
  float: left;
  margin-left: 10px;
  height: 60px;
}
.head-info .head-pho .div1 div p {
  height: 30px;
  line-height: 30px;
  text-align: left;
}
.head-info .head-pho .div1 .p2 {
  padding-left: 20px;
  background: url(../images/icon_mine_center_phone.png) no-repeat left center;
}

.head-info .head-pho .div2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.head-info .head-pho .div2 span:first-child {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-radius: 50%;
}

.head-info .news-tip {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 2;
  margin-top: -18px;
}
.head-info .news-tip a {
  position: relative;
  display: block;
  width: 35px;
  height: 25px;
  background: url(../images/icon_news_tips.png) no-repeat;
  background-size: 35px auto;
}
.head-info .news-tip span {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 3;
  width: 10px;
  height: 10px;
  background: #cc3333;
  border-radius: 50%;
}

.mine-center section {
  padding: 2%;
  margin-bottom: 4%;
  background: #fff;
}
.mine-center section a {display: block;}
.mine-center section div {
  overflow: hidden;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  font-size: 1.3em;
  color: #000;
  line-height: 40px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bdbt {border-bottom: 1px solid #ccc;}
.mine-center section div span {float: right;}

.mine-center .sec1 div {background-image: url(../images/icon_mycenter_pos.png);}
.mine-center .sec2 div.div1 {background-image: url(../images/icon_mycenter_myorder.png);}
.mine-center .sec2 div.div2 {background-image: url(../images/icon_mycenter_collect.png);}
.mine-center .sec2 div.div3 {background-image: url(../images/icon_mycenter_shoppcar.png);}
.mine-center .sec3 div.div1 {background-image: url(../images/icon_mycenter_coupon.png);}
.mine-center .sec3 div.div2 {background-image: url(../images/icon_mycenter_activity.png);}
.mine-center .sec3 div.div3 {background-image: url(../images/icon_mycenter_taste.png);}
/*个人中心 END*/

/*基本信息*/
.head-signature {
  padding: 4% 0;
  text-align: center;
  background: #f2f2f2;
}

.head-signature img {width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.head-signature .div2 {margin-top: 10px;}
.head-signature .div2 span:first-child {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  background: #d8d8d8;
  border-radius: 50%;
}

/*基本信息浏览*/
.base-info-look {}
.base-info-look {
  padding: 2%;
  margin: 4% auto;
  background: #fff;
}

.base-info-look .div1 {
  overflow: hidden;
  padding: 2% 0;
  border-bottom: 1px solid #eaeaea;
}
.base-info-look .div1 p {float: left;}
.base-info-look .div1 .edit {
  float: right;
  padding: 2px 10px;
  padding-left: 14px;
  height: 22px;
  font-size: 0.8em;
  color: #666666;
  line-height: 22px;
  text-indent: 1em;
  background: url(../images/icon_edit.png) no-repeat 12px center;
  -webkit-background-size: 10px auto;
          background-size: 10px auto;
  border: 1px solid #eaeaea;
  border-radius: 22px;
}

.base-info-look div {overflow: hidden;}
.base-info-look div label {
  float: left;
  width: 20%;
  height: 20px;
  line-height: 20px;
}
.base-info-look div span {
  float: right;
  width: 80%;
  height: 20px;
  color: #000;
  line-height: 20px;
  text-align: right;
  border: none;
}
.base-info-look div input {
  float: right;
  width: 80%;
  height: 20px;
  color: #999;
  line-height: 20px;
  text-align: right;
  border: none;
}
.base-info-look div select {
  float: right;
  color: #999;
  text-align: right;
  border: none;
}
.base-info-look div option {
  text-align: right;
}
.base-info-look div.div2 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.base-info-look div.div3 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.base-info-look div.div4 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.base-info-look div.div5 {
  padding: 4% 0;
  border-bottom: 1px solid #eee;
}
.base-info-look div.div6 {padding: 4% 0;}

.head-signature a {display: block;}

/*基本信息 END*/

/*头像编辑*/
.head-edit {padding: 2%;}
.head-edit section {
  overflow: hidden;
  padding: 4% 0;
  border-bottom: 1px solid #bac2c5;
}
.head-edit section label {
  float: left;
  width: 20%;
  height: 20px;
  line-height: 20px;
}
.head-edit section input {
  float: right;
  width: 80%;
  height: 20px;
  color: #999999;
  line-height: 20px;
  text-align: right;
  background: none;
  border: none;
}
.head-edit .sec1 label {
  float: left;
  width: 20%;
  height: 60px;
  line-height: 60px;
}
.head-edit .sec1 a {
  float: right;
  width: 80%;
  height: 60px;
  color: #999999;
  line-height: 60px;
  text-align: right;
}
.head-edit .sec1 a img {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*头像编辑 END*/


/*签名编辑*/
.signature-edit textarea {
  position: relative;
  display: block;
  padding: 2%;
  margin: 2%;
  width: 96%;
  min-height: 150px;
  text-align: left;
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.signature-edit div {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 2;
  font-size: 0.8em;
  color: #999;
}
.signature-edit p {
  padding: 2%;
  font-size: 0.8em;
  color: #999;
}
/*签名编辑 END*/

/*评论*/
.comment textarea {
  position: relative;
  display: block;
  padding: 2%;
  margin: 2%;
  width: 96%;
  min-height: 150px;
  text-align: left;
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.comment .add-pho {
  position: absolute;
  left: 4%;
  bottom: 23%;
  z-index: 2;
}
@media screen and (min-width: 640px) {
  .comment .add-pho {bottom: 28%;}
}
.comment .add-pho img {
  width: 40px;
  height: auto;
  vertical-align: middle;
}
.comment .add-pho .btn-add-photo {
  display: inline-block;
  width: 38px;
  height: 26px;
  font-size: 1.5em;
  color: #999;
  line-height: 26px;
  vertical-align: middle;
  border: 1px dotted #ccc;
}

/*发表按钮*/
.comment .submit-comment {
  overflow: hidden;
  text-align: right;
  padding: 0 2%;
}
.comment .submit-comment input {
  float: right;
  width: 30%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #ff9933;
  border: none;
  border-radius: 30px;
}

/*评论 END*/

/*消息中心*/
.news-center {
  overflow: hidden;
  padding: 2% 0;
  margin: 2%;
  width: 96%;
  border-bottom: 1px solid #e1e1e1;
}
.news-center:last-child {border-bottom: none;}
.news-center .div1 {
  position: relative;
  float: left;
  width: 60px;
  height: 50px;
}
.news-center .div1 span.tips-news-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: #cc3333;
  border-radius: 50%;
}

.news-center .div2 {
  float: right;
  width: 80%;
}
.news-center .div2 .div2-1 {
  overflow: hidden;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.news-center .div2 .div2-1 span:first-child {float: left;}
.news-center .div2 .div2-1 span:last-child {float: right;color: #999;}
.news-center .div2 .div2-2 {
  overflow: hidden;
  width: 100%;
  height: 17px;
  color: #999;
}
/*消息中心 END*/

/*我的收藏*/
.box-collect {}
.box-collect .col-ul {
  overflow: hidden;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.box-collect .col-ul li {
  float: left;
  margin: 10px 0;
  width: 30%;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box-collect .col-ul li a {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 1.3em;
  color: #000;
  line-height: 30px;
}
.box-collect .col-ul li:first-child {
  margin-left: 20%;
  border: 1px solid #ff9933;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.box-collect .col-ul li:last-child {
  border: 1px solid #ff9933;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.box-collect .col-ul li.active {background: #ff9933;}
.box-collect .col-ul li.active a {color: #fff;}

/*套餐收藏*/
.box-collect .col-ol {overflow: hidden;}
.box-collect .col-ol li {overflow: hidden;display: none;}
.box-collect .col-ol li section {
  float: left;
  margin: 2%;
  width: 46%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
          box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.box-collect .col-ol li:first-child {display: block;}

.box-collect .col-ol li img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.box-collect .col-ol li .div1 {
  padding: 5px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
  text-align: left;
}
.box-collect .col-ol li .div2 {
  overflow: hidden;
  padding: 5px;
}
.box-collect .col-ol li .div2 .div2-1 {
  float: left;
  font-size: 1.1em;
  color: #ff9933;
}
.box-collect .col-ol li .div2 .div2-2 {
  float: right;
  font-size: 1.1em;
  color: #999999;
}




/*厨师收藏*/

.box-collect .col-ol .group-chef-col article {
  padding: 2%;
  border-bottom: 1px solid #ccc;
}
.box-collect .col-ol .group-chef-col article a {overflow: hidden;display: block;}
.box-collect .col-ol .group-chef-col img {
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.box-collect .col-ol .group-chef-col .right-box {
  float: left;
  margin-left: 2%;
}
.box-collect .col-ol .group-chef-col .right-box .chef-name {
  font-size: 1.3em;
  color: #333;
  text-align: left;
}
.box-collect .col-ol .group-chef-col .right-box .chef-level {
  /*width: 100px;*/
  height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 16px;
}
.box-collect .col-ol .group-chef-col .right-box .level-1 {background-image:url(../images/icon_chef_level_1.png);}
.box-collect .col-ol .group-chef-col .right-box .level-2 {background-image:url(../images/icon_chef_level_2.png);}
.box-collect .col-ol .group-chef-col .right-box .level-3 {background-image:url(../images/icon_chef_level_3.png);}
.box-collect .col-ol .group-chef-col .right-box .level-4 {background-image:url(../images/icon_chef_level_4.png);}
.box-collect .col-ol .group-chef-col .right-box .level-5 {background-image:url(../images/icon_chef_level_5.png);}

.box-collect .col-ol .group-chef-col .right-box .group-serv-num {overflow: hidden;}
.box-collect .col-ol .group-chef-col .right-box .level {
  float: left;
  color: #666;
}
.box-collect .col-ol .group-chef-col .right-box .sev-nums {
  float: left;
  margin-left: 35px;
  color: #666;
}


/*我的收藏 END*/

/*厨师列表*/
/*
.chef-list {
  width: 100%;
  -webkit-column-count: 2;
          column-count: 2
}
.chef-list section {
  margin: 2%;
  width: 100%;
  background: #fff;
}*/
.chef-list {
  overflow:hidden;
  width: 100%;
}
.chef-list section {
  float:left;
  margin: 2%;
  width: 46%;
  background: #fff;
}
.chef-list section a {display: inline-block;}
.chef-list section div {
  padding: 1% 2%;
}

.chef-list section .chef-name i {
  display: inline-block;
  margin-left: 10px;
  width: 65%;
  height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 12px;
}
.chef-list section .chef-name i.level-1 {background-image:url(../images/icon_chef_level_1.png);}
.chef-list section .chef-name i.level-2 {background-image:url(../images/icon_chef_level_2.png);}
.chef-list section .chef-name i.level-3 {background-image:url(../images/icon_chef_level_3.png);}
.chef-list section .chef-name i.level-4 {background-image:url(../images/icon_chef_level_4.png);}
.chef-list section .chef-name i.level-5 {background-image:url(../images/icon_chef_level_5.png);}

.chef-list section div.speci-dishs {
  overflow:hidden;
  padding-bottom: 2%;
  width:100%;
  height:30px;
  font-size: 0.8em;
  color: #999;
  text-align: left;
}

/*厨师列表 END*/

/*厨师介绍*/
.chef-intro {padding: 2%;}
.chef-intro .chef-info {overflow: hidden;}
.chef-intro .chef-info .chef-pho-head {
  float: left;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.chef-intro .chef-info .good-at {
  float: left;
  margin-left: 2%;
  width: 75%;
}
.chef-intro .chef-info .good-at .chef-name {margin-bottom: 5px;}
.chef-intro .chef-info .good-at .chef-name i {
  display: inline-block;
  margin-left: 10px;
  width: 50%;
  height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 12px;
}
.chef-intro .chef-info .good-at .chef-name i.level-1 {background-image:url(../images/icon_chef_level_1.png);}
.chef-intro .chef-info .good-at .chef-name i.level-2 {background-image:url(../images/icon_chef_level_2.png);}
.chef-intro .chef-info .good-at .chef-name i.level-3 {background-image:url(../images/icon_chef_level_3.png);}
.chef-intro .chef-info .good-at .chef-name i.level-4 {background-image:url(../images/icon_chef_level_4.png);}
.chef-intro .chef-info .good-at .chef-name i.level-5 {background-image:url(../images/icon_chef_level_5.png);}

.chef-intro .chef-info .good-at .good-at-dishs {
  overflow: hidden;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #999;
}

/*服务次数、关注*/
.chef-intro .serv-numti {
  overflow: hidden;
  margin: 2% auto;
  text-align: right;
}
.chef-intro .serv-numti .serv-times {
  float: right;
  margin-right: 2%;
  color: #999;
  text-align: center;
}
.chef-intro .serv-numti .serv-times .div1 {color: #333;}
.chef-intro .serv-numti .btn-attent {
  float: right;
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #ff9933;
  text-align: center;
  border: 1px solid #ff9933;
  border-radius: 30px;
}

/*厨师简介*/
.chef-intro .chef-summary .title {
  padding-left: 5px;
  margin: 2% auto;
  border-left: 4px solid #ff9933;
}
.chef-intro .chef-summary .content {color: #999;}

/*厨师相关证书*/
.chef-intro .chef-cert {text-align: center;}
.chef-intro .chef-cert .div1 {
  font-size: 1.3em;
  color: #000;
  line-height: 30px;
}
.chef-intro .chef-cert .div2 {
  font-size: 0.9em;
  color: #000;
  line-height: 20px;
}
.chef-intro .chef-cert .div3 {
  margin: 0 auto;
  width: 14px;
  height: 14px;
  color: #ff9933;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*厨师介绍 END*/

/*活动*/


/*活动套餐*/
.activity .package {
  overflow: hidden;
  margin: 2%;
  width: 96%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.activity .package img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*介绍*/
.activity .package .introduction {
  float: left;
  margin: 2%;
  width: 66%;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.activity .package .introduction p {
  margin: 2% auto;
  color: #a9a9a9;
}
.activity .package .introduction .title {
  overflow: hidden;
  width: 100%;
  height: 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333333;
}
.activity .package .introduction .title a {color: #333;}
.activity .package .introduction .title span {
  font-size: 0.9em;
  font-weight: normal;
  color: #686868;
}
.activity .package .introduction .itdt {
  overflow: hidden;
  width: 100%;
  height: 34px;
}
.activity .package .introduction .follow {
  padding-left: 25px;
  background: url(../images/icon_follow.png) no-repeat left center;
  -webkit-background-size: 17px auto;
          background-size: 17px auto;
}
/*价格*/
.activity .package .price {
  float: right;
  margin: 2%;
  width: 26%;
  text-align: right;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.activity .package .price p {
  margin: 2% auto;
  color: #636363;
}
.activity .package .price .p1 span {
  font-size: 1.3em;
  vertical-align: top;
}
.activity .package .price .p2 {
  font-size: 1.3em;
  color: #ff9966;
}


/*活动 END*/

/*砍价套餐*/
.bargain-packages {overflow: hidden;}
.bargain-packages section {
  float: left;
  margin: 2%;
  width: 46%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
          box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bargain-packages section img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bargain-packages section .div1 {
  padding: 5px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333;
  text-align: left;
}
.bargain-packages section .div2 {padding: 5px;}
.bargain-packages section .div2 div {
  font-size: 0.8em;
  color: #999;
  text-align: left;
}

/*砍价套餐 END*/

/*砍价活动*/
.group-cut-activity {padding: 2%;}
.top-title {
  overflow: hidden;
  padding: 2%;
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
          box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top-title .div1,
.top-title .div2,
.top-title .div3 {
  float: left;
  width: 25%;
  height: 40px;
  text-align: center;
}
.top-title .div2 {
  width: 50%;
  line-height: 40px;
  background: #dadada;
}
.top-title .div1 .div1-2,
.top-title .div3 .div3-2,
.top-title .div2 b {
  font-weight: normal;
  color: #ff9933;
}

/*砍价套餐*/
.cut-packs {
  overflow: hidden;
  margin-top: 2%;
  width: 100%;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
          box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.cut-packs img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*介绍*/
.cut-packs .introduction {
  padding: 2%;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cut-packs .introduction p {
  margin: 2% auto;
  color: #a9a9a9;
}
.cut-packs .introduction .title {
  overflow: hidden;
  width: 100%;
  height: 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333333;
}
.cut-packs .introduction .title a {color: #333;}
.cut-packs .introduction .title span {
  font-size: 0.9em;
  font-weight: normal;
  color: #686868;
}
.cut-packs .introduction .itdt {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  max-height: 34px;
}
.cut-packs .introduction .follow {
  padding-left: 25px;
  background: url(../images/icon_follow.png) no-repeat left center;
  -webkit-background-size: 17px auto;
          background-size: 17px auto;
}
.cut-packs .cut-pack-price {
  padding: 2%;
  padding-top: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.cut-packs .cut-pack-price .price {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: 700;
  color: #333333;
}
.btn-help-cut-price {
  display: block;
  margin: 5% auto;
  width: 70%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ff9933;
  border-radius: 30px;
}
.btn-help-cut-price i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/icon_cut_price.png) no-repeat center;
  -webkit-background-size: 20px auto;
          background-size: 20px auto;
}
.btn-buy-now {
  display: block;
  margin: 5% auto;
  width: 70%;
  height: 30px;
  color: #000;
  line-height: 30px;
  text-align: center;
  background: #fff;
  border: 1px solid #bac2c5;
  border-radius: 30px;
}

.cutfriend {padding: 2%;}

/*砍价活动 END*/

/*口味和忌口*/
.taste-diet {padding: 2%;}
.taste-diet .top-art {overflow: hidden;}
.taste-diet .top-art .tips {
  float: left;
  padding-left: 28px;
  color: #999;
  background: url(../images/icon_taste.png) no-repeat left center;
  -webkit-background-size: auto 17px;
          background-size: auto 17px;
}


/*编辑按钮*/
.taste-diet .top-art .edit {
  float: right;
  height: 22px;
  line-height: 22px;
}
.taste-diet .top-art .edit a {color: #333;}
.taste-diet .top-art .edit span {
  display: inline-block;
  margin-left: 5px;
  width: 17px;
  height: 17px;
  line-height: 13px;
  font-weight: 700;
  color: #f44336;
  text-align: center;
  border: 1px solid #b0bec5;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.taste-diet ul {overflow: hidden;}
.taste-diet ul li {
  position: relative;
  float: left;
  padding: 0 10px;
  margin: 2% 2% 0 0;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.taste-diet ul li span {
  position: absolute;
  right: -3px;
  top: -3px;
  z-index: 2;
  display: none;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  background: #ff9933;
  border-radius: 50%;
}
.taste-diet ul li.common {border: 1px solid #ff9933;}
.taste-diet ul li.delete span {display: block;}

/*编辑口味*/
.taste-diet .write {
  overflow: hidden;
  margin-bottom: 4%;
}
.taste-diet .write .text-box {
  float: left;
  width: 70%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.taste-diet .write .text-box select {
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
  line-height: 30px;
  background: #dedede;
  border: none;
  border-radius: 30px;
}
.taste-diet .write .text-box input {
  margin-top: 5px;
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
}

.taste-diet .write .btn-add-taste {
  float: right;
  width: 25%;
  height: 40px;
  line-height: 40px;
  color: #ff9933;
  text-align: center;
  background: none;
  border: 1px solid #ccc;
  border-radius: 40px;
}
/*口味和忌口 END*/



