/* CSS Document */

/* 登陆表格 */


/* 头部 */
.head_back {
	background: #f0f0f0;
}
.head_back .head {
	width: 1080px;
	height: 100px;
}
.head_back .head .head_left {
	width: 300px;
	height: 40px;
	padding-right: 100px;
	float: left;
	margin-top: 30px;
}
.head_back .head .head_left img {
	width: 300px;
	height: 40px;
}
.head_back .head .head_center {
	_width: 416px;
	float: left;
	margin-top: 30px;
}
.head_back .head .head_center form {
	height: 40px;
	border: 1px solid #e63838;
	background-color: #e63838;
	overflow: hiiden;
}
.head_back .head .head_center form .search {
	width: 344px;
	height: 36px;
	line-height: 36px\9;
	border: none;
	outline: none;
	padding-left: 10px;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	color: #999999;
}
.head_back .head .head_center form .ok {
	width: 54px;
	height: 40px;
	float: left;
	background-color: #e63838;
	border: none;
	background: url(../images/search.png) 16px 10px no-repeat;
}
.head_back .head .head_center form .ok:hover {
	cursor: pointer;
}
.head_back .head .head_right {
	width: 268px;
	_width: 264px;
	float: left;
	margin-top: 20px;
}
.head_back .head .head_right .right1 {
	width: 190px;
	padding-top: 18px;
	overflow: hidden;
	text-align: right;
	float: left;
}
.head_back .head .head_right .right1 .head_label1, .head .head_right .right1 .head_label2 {
	width: 190px;
	_width: 180px;
	display: inline-block;
	overflow: hidden;
}
.head_back .head .head_right img {
	width: 70px;
	height: 70px;
	margin-left: 8px;
	_margin-left: 0px;
	display: inline-block;
}
/* 头部结束 */

/* 导航 */
.ban_back {
	width: 100%;
	background-color: #2d2d2d;
	height: 42px;
}
.ban_back .nav {
	width: 1080px;
	height: 42px;
}/*
.ban_back:after {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
.ban_back .nav:after {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}*/
.ban_back .nav ul {
	width: 960px;
	height: 42px;
	overflow: hidden;
	float: left;
}/*
.ban_back .nav ul:after {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}*/
.ban_back .nav ul li {
	float: left;
}
.ban_back .nav ul li .myli {
	background-color: #e63838;
}
.ban_back .nav ul li a {
	padding: 12px 14px;
	display: block;
	_float: left;
	color: #ffffff;
	font-size: 16px;
}
.ban_back .nav ul li a:hover {
	text-decoration: none;
}
.ban_back .nav .join {
	width: 120px;
	height: 40px;
	position: relative;
	float: left;
	text-align: right;
	z-index: 99;
}
.ban_back .nav .join a {
	width: 120px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	display: block;
	font-size: 16px;
	color: #ffffff;
}
.ban_back .nav .join a span {
	margin-right: 6px;
	font-size:12px;
}
.ban_back .nav .join a img {
	_margin-top: 18px;
	width: 12px;
	height: 8px;
}
.ban_back .nav .join a:hover {
	text-decoration: none;
}
.ban_back .nav .join .join_raw {
	position: absolute;
	z-index: 100;
	float: left;
	width: inherit;
	left: 0px;
	top: 42px;
	visibility: hidden;
	text-align: center;
	overflow: hidden;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding-bottom: 10px;
}
.ban_back .nav .join .join_raw a {
	color: #323232;
	display: block;
	margin: 0px;
	font-size: 12px;
}
/* 导航结束 */
/* 中间 */
.content {
	width: 1080px;
}
.content .register_title {
	padding: 0px 20px;
	margin-top: 40px;
	height: 60px;
	line-height: 60px;
	color: #333333;
	border-bottom: 1px solid #cccccc;
}
.content .register_title label {
	float: left;
	font-size: 18px;
	display: block;
}
.content .register_title label span {
	margin-left: 6px;
	font-size: 12px;
	color: #999999;
}
.content .register_title a {
	display: block;
	float: right;
}
.content form {
	width: 800px;
	margin: 0px auto;
	padding-bottom:60px;
	padding-top:20px;
}
.content form div {overflow:hidden;}
.content form input {
	float:left;
	width: 290px;
	margin-left:100px;
	outline:none;
	border: 1px solid #cccccc;
	border-radius: 6px;
	margin-top: 20px;
	height: 40px;
	line-height: 40px\9;
	padding-left: 10px;
}
.content form .sure_word{width:inherit;
height:62px;}
.content form .sure_word input {
	width: 120px;
	float: left;
	margin-right: 36px;
	margin-left: 100px;
}
.content form .sure_word img {
	float: left;
	width: 132px;
	height: 40px;
	margin-top: 20px;
}
.content form .sure_word a {
	float: left;
	margin-left:20px;
	margin-top: 30px;
	color: #3a81d1;
}
.content form .agree input {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float:left;
	margin-top:24px;
	margin-left:100px;
}
.content form .agree label{float:left;
margin-left:8px;}
.content form .agree  a{float:left;color:#3a81d1;}

.content form .agree{width:inherit;height:62px;line-height:62px;
overflow:hidden;}
.content form .agree span{height:62px;line-height:62px;display:inline-block;}
.content form .register{background-color:#7bc7ac;color:#ffffff;
font-size:18px;
text-align:center;
border-color:#7bc7ac;}
/*中间结束*/
/* 底部 */
.foot_back {
	background-color: #2d2d2d;
	width: 100%;
	margin-top: 20px;
}
.foot_back .foot {
	width: 1080px;
}
.foot_back .foot .foot1 {
	width: 1080px;
	height: 70px;
}
.foot_back .foot .foot1 ul {
	width: 1080px;
	height: 70px;
	overflow: hidden;
}
.foot_back .foot .foot1 ul li {
	height: 70px;
	line-height: 70px;
	float: left;
}
.foot_back .foot .foot1 ul li a {
	padding-right: 20px;
	color: #d9d9d9;
}
.foot_back .foot .foot2 {
	width: 1080px;
	color: #ececec;
}
.foot_back .foot .foot3 {
	width: 1080px;
	hight: 70px;
}
.foot_back .foot .foot3 ul {
	width: 1080px;
	height: 70px;
	overflow: hidden;
}
.foot_back .foot .foot3 ul li {
	hight: 70px;
	line-height: 70px;
	float: left;
}
.foot_back .foot .foot3 ul li a {
	padding-right: 20px;
	color: #8d8d8d;
}
.foot_back .foot .foot4 {
	width: 1080px;
	height: 40px;
	color: #8d8d8d;
}
/* 底部结束 */

/*错误提示*/
.newerror{display:inline-block;line-height:14px;margin-top:33px;}
.newerror2{display:inline-block;line-height:14px;margin-top:53px;}

