<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!--css-->
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<title>叫个厨子</title>
</head>
<body class="bgc-f2">
    <!-- 头部 -->
    <header>
      <a class="back" href="#"></a>
      <p>编辑签名</p>
      <a class="save" href="#">保存</a>
    </header>
    <!-- 头部 END -->

    <!-- 编辑签名 -->
    <article class="signature-edit">
      <textarea placeholder="其实一开始要签名我是拒绝的！"></textarea>
      <div><span>5</span>/<span>50</span></div>
      <p>签名最多显示两行，请控制行数哦！</p>
    </article>
    <!-- 编辑签名 END -->

</body>
</html>